@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@plugin "daisyui" {
  themes: light, dark --default;
}

@plugin "daisyui/theme" {
  name: "light";
  --color-primary: #059669;     /* Emerald-600 */
  --color-secondary: #0d9488;   /* Teal-600 */
  --color-accent: #f59e0b;      /* Amber-500 */
  --color-neutral: #18181b;     /* Zinc-900 */
  --color-base-100: #ffffff;
  --color-base-200: #f4f4f5;    /* Zinc-100 */
  --color-base-content: #18181b;
}

@plugin "daisyui/theme" {
  name: "dark";
  --color-primary: #34d399;     /* Emerald-400 (Neon Green vibe) */
  --color-secondary: #2dd4bf;   /* Teal-400 */
  --color-accent: #fbbf24;      /* Amber-400 */
  --color-neutral: #f4f4f5;
  --color-base-100: #09090b;    /* Zinc-950 (Very deep black) */
  --color-base-200: #18181b;    /* Zinc-900 (For cards) */
  --color-base-content: #e4e4e7;
}

/* GLOBAL STYLES */
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Poppins', sans-serif;
}


/* Only hide the cursor on devices that actually use a mouse */
@media (pointer: fine) {
  body {
    cursor: none;
  }
  /* Optional: Hide it on specific elements if it overrides body */
  a, button, input, textarea {
    cursor: none !important;
  }
}